body {
    background-color: rgb(4, 4, 4);
    margin-left: 100px;
}

h2 {
    font-style: oblique;
}

h1 {
    font-size: 50px;
}


#pic1 {
    width: 400px;
}

#pic2 {

    width: 400px;
}
#catty {

   width: 500px;

}

section {
    border-radius: 15px;
}

#sec1 {
    background-color: red;
}

#sec2 {
    background-color: rgb(99, 57, 151);
}

#sec3 {
    background-color: rgb(188, 69, 186);
}

#sec4 {
    background-color: rgb(176, 148, 38);
}

a:link {
    text-decoration: none;
  }

a {
    color: rgb(19, 37, 159);
}  